<div class="container-card">
  <div class="flex justify-end px-4 pt-4">
  </div>
  <div class="flex flex-col items-center pb-10 ">
    <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src={{comment.avatar}} alt="Bonnie image">
    <h5>{{comment.email | shortenerText: 15 }}</h5>
    <span class="p-4 title">{{comment.name | shortenerText: 25 }}</span>
    <span class="title">{{comment.body | shortenerText: 50 }}</span>
    <div class="flex mt-4 space-x-3 md:mt-6">
      <button class="remove-btn" (click)="onRemove(comment.id)">
        Remove
      </button>
    </div>
  </div>
</div>
