<nav class="nav-container">
  <div class="wrapper">
    <a href="https://flowbite.com/" class="flex items-center">
      <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo">
    </a>
    <app-sidebar-button></app-sidebar-button>
    <div>
      <ul class="ul-wrapper">
        <li>
          <a href="#" class="list">About</a>
        </li>
        <li>
          <a href="#" class="list">Services</a>
        </li>
        <li>
          <a href="#" class="list">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
