@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #444451bf;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(219, 208, 208, 0.5);
  border-radius: 20px;
  border: transparent;
}
